<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.babyscare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Initially Splash Screen Activity will be displayed in Portrait mode -->
        <!-- Since, we want to display Splash Screen and we have defined Splash Theme in styles.xml then use theme name as "SplashTheme" -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Activities below will be displayed in Portrait Mode -->
        <!-- MainActivity of Birth Date & Weight -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Details Activity (Categories) -->
        <activity
            android:name=".DetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Nutrition Activity -->
        <activity
            android:name=".NutritionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Treatment Activity -->
        <activity
            android:name=".TreatmentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Emergency Activity -->
        <activity
            android:name=".EmergencyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Care Activity -->
        <activity
            android:name=".CareActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Food Information Activity -->
        <activity
            android:name=".FoodInformationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Feeding Guidance Activity -->
        <activity
            android:name=".FeedingGuidanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Food Stock Activity -->
        <activity
            android:name=".FoodStockActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- First Months Activity -->
        <activity
            android:name=".FirstMonthsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Childhood Illness Activity -->
        <activity
            android:name=".ChildhoodIllnessActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- First Aid Activity -->
        <activity
            android:name=".FirstAidActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>